
.note-button{
    text-align: center;
    padding: 5%;
    background-color: lightgrey;
    width: 85%;
    min-width: 0;
    aspect-ratio: 4/1;
    padding-left: 5%;
    text-align: left;
    border: none;
    border-radius: 15px;
    margin-bottom: 5%;
    font-size: 140%;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    flex-shrink: 0;
}

.note-button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.note-button:active{
    opacity: 0.2;
}