
.sign-out-button{
    flex-grow: 0;
    height: 4%;
    margin-top: 1%;
    margin-right: 1%;
    aspect-ratio: 2.5/1;
    border-radius: 15px;
    background-color: #92caff;
    font-size: 120%;
    font-weight: 520;
    color: white;
    border: none;
}

.sign-out-button:hover{
    cursor: pointer;
    opacity: 0.85;
}

.sign-out-button:active{
    scale: 0.85;
    opacity: 0.6;
}